dist/*
build/*
RM.egg-info/*
RM_tools.egg-info/*
tests/simdata
tests/models_ns
.vscode/settings.json
RM_Tools.egg-info/dependency_links.txt
RM_Tools.egg-info/entry_points.txt
RM_Tools.egg-info/PKG-INFO
RM_Tools.egg-info/requires.txt
RM_Tools.egg-info/SOURCES.txt
RM_Tools.egg-info/top_level.txt
